[submodule "Vundle.vim"]
	path = .config/vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
	shallow = true
[submodule "ohmyzsh"]
	path = .config/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
	shallow = true
